
@using System.Data;
@using MySql.Data.MySqlClient;
@using IDCrm.Models;
@{
    ViewData["Title"] = "Ana Sayfa";
    DatabaseEntities db = new DatabaseEntities();
    IDCrm.Models.Kullanicilar kullanici = (IDCrm.Models.Kullanicilar)Session["Kullanici"];
}


<section class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <section class="card">
                    <div class="card-body" style="font-size:12px;">
                       


                    </div>
                </section>
            </div>
        </div>

        <div class="row">



        </div>

    </div>
</section>



@section scripts {



}
